<nav class="bottom-nav">
  <a class="nav-item" routerLink="/caja" routerLinkActive="active">
    <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
    <span class="nav-label">Caja</span>
  </a>
  <a class="nav-item" routerLink="/mis-ventas" routerLinkActive="active">
    <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
    <span class="nav-label">Mis ventas</span>
  </a>
  <a class="nav-item" routerLink="/mi-rendimiento" routerLinkActive="active">
    <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
    <span class="nav-label">Rendimiento</span>
  </a>
  <a class="nav-item" routerLink="/cotizaciones" routerLinkActive="active">
    <span nz-icon nzType="file-text" nzTheme="outline"></span>
    <span class="nav-label">Cotizaciones</span>
  </a>
  <a class="nav-item" routerLink="/cierre-turno" routerLinkActive="active">
    <span nz-icon nzType="lock" nzTheme="outline"></span>
    <span class="nav-label">Cierre</span>
  </a>
</nav>
